html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(249, 255, 254);
    border-style: solid;
    border-width: 16px;
    border-color: rgb(216, 160, 241);
    overflow-x: hidden;
    font-family: 'Roboto-bold', sans-serif;
}

header {
    z-index: 3;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 100px;
    right: 70px;
}

h3 {
    padding-top: 40px;
    font-size: 35px;
}

h2 {
    font-size: 45px;
    margin-top: 140px;
}

a {
    font-weight: bolder;
    color: rgb(216, 160, 241);
}

header ul {
    margin: 0;
    padding: 0;
    width: 400px;
    position: inherit;
}

header li {
    display: inline;
    justify-content: center;
    margin-right: 20px;
}

header, ul a{
    transform: rotate(90deg);
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

#title h2 {
    position: absolute;
    left: 3px;
    font-size: 85px;
    text-align: left;
}

#home {
    width: 35px;
    vertical-align: middle;
}


#title {
    position: relative;
    text-align: top;
}

#title_image {
    width: 70%;
    z-index: 3;
}

#title_text { 
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: 60px;
    width: 80%;
}

.description {
    text-align: center;
    margin: auto;
    width: 70%;
}

.title_text {
    margin: 0;
}

.intro {
    text-align: left;
    line-height: 25px;
}

.description ul {
    text-align: left;
    margin-left: 0;
    padding-left: 15px;
}

.project {
    margin-top:  70px;
}

iframe{
    position: relative;
    left: -40px;
    border-style: none;
}

.palindrome {
    display: block;
    margin: auto;
    border-color: rgb(216, 160, 241);
    border-style: solid;
    border-width: 10px;
    margin-top: 10px;
    max-width: 60%;
}

.question_text {
    margin: auto;
    font-size: 28px;
    padding: 12px 0;
    background-color: rgb(216, 160, 241);
    color: rgb(249, 255, 254);
    text-align: center;
    border-radius: 15px;
    margin-top: 70px;
}

.highlight {
    margin: 25px;
    padding:15px;
    border-left-style: solid;
    border-left-color: rgb(216, 160, 241);
    border-left-width: 4px;
    text-align: left;
    line-height: 24px;
    border-radius: 30px;
}

::-moz-selection {
    background: rgb(216, 160, 241);
}

::selection {
    background: rgb(216, 160, 241);
}

a::selection {
    color: rgb(249, 255, 254);
}